*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#000000;
  color:#fff;
  font-family:'Inter', sans-serif;
  overflow-x:hidden;
}

img{
  width:100%;
  display:block;
}

a{
  text-decoration:none;
}

.container{
  width:100%;
  max-width:1300px;
  margin:auto;
  padding:0 30px;
}

/* HEADER */

header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  background:rgba(0,0,0,0.35);
  backdrop-filter:blur(10px);
  border-bottom:1px solid rgba(255,255,255,0.05);
}

.header-content{
  height:90px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.logo{
  width:240px;
}

.desktop-menu{
  display:flex;
  gap:35px;
}

.desktop-menu a{
  color:#fff;
  font-size:14px;
  letter-spacing:1px;
  transition:0.3s;
}

.desktop-menu a:hover{
  color:#c8a27a;
}

.btn-header{
  background:linear-gradient(
      90deg,
      #C8A140 0%,
      #D0C19B 50%,
      #C8A140 100%
    );
  color:#ffffff;
  padding:14px 28px;
  font-size:13px;
  font-weight:600;
  letter-spacing:1px;
   border-radius:50px;
   box-shadow:
    0 0 15px rgba(200,161,64,0.6),
    0 0 35px rgba(200,161,64,0.4); /* efeito de luz */

  transition:0.3s ease;
}

.btn:hover{
  transform:translateY(-3px);

  box-shadow:
    0 0 20px rgba(200,161,64,0.9),
    0 0 45px rgba(200,161,64,0.7);
}

.menu-toggle{
  width:35px;
  display:none;
  flex-direction:column;
  gap:6px;
  cursor:pointer;
}

.menu-toggle span{
  width:100%;
  height:2px;
  background:#c8a27a;
}

.mobile-menu{
  width:100%;
  background:#0e0b09;
  display:none;
  flex-direction:column;
  padding:30px;
  gap:25px;
}

.mobile-menu a{
  color:#fff;
  font-size:15px;
}

.mobile-btn{
  background:#C8A140;
  color:#fff !important;
  padding:14px;
  text-align:center;
  margin-top:10px;
}





.icon{
  width:60px;
  height:60px;

  display:flex;
  align-items:center;
  justify-content:center;

  margin-bottom:28px;
}

.icon img{
  width:100%;
  height:100%;

  object-fit:contain;

  transition:0.4s;
}

/* EFEITO */

.card:hover .icon img{
  transform:scale(1.08) translateY(-5px);
}


/* HERO */

.hero{
  width:100%;
  min-height:100vh;
  background:
    url('img/banner.jpg') center/cover no-repeat;

  position:relative;
  display:flex;
  align-items:center;
}

.hero-overlay{
  position:absolute;
  inset:0;
}

.hero-content{
  position:relative;
  z-index:2;
}

.hero-text{
  max-width:760px;
}

.hero-text h1{
 font-size:3.7rem;
  line-height:1.1;
  font-weight: 350;
  margin-bottom:30px;
  font-family:'Cormorant Garamond', serif;
   font-weight:600;
}

.hero-text span{
  color:#C8A140;
}

.hero-text p{
  color:#d0d0d0;
  font-size:18px;
  line-height:1.9;
  max-width:520px;
}

/* SOBRE */

.sobre{
  background:#f4efe9;
  padding:100px 0;
  color:#000000;
}

.sobre-content{
  display:grid;
  grid-template-columns:1fr 420px;
  gap:70px;
  align-items:center;
}

.sobre-text h2{
  font-family:'Cormorant Garamond', serif;
  font-size:3rem;
  margin-bottom:15px;
  font-weight:500;
}

.line{
  width:80px;
  height:2px;
  background:#C8A140;
  margin-bottom:30px;
}

.sobre-text p{
  color:#444;
  line-height:1.9;
  font-size:17px;
  margin-bottom:25px;
}

.sobre-img{
  width:100%;
  height:520px;
  overflow:hidden;
}

.sobre-img img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.btn{
  display:inline-block;
  background:#C8A140;
  color:#fff;
  padding:16px 28px;
  font-size:13px;
  letter-spacing:1px;
}

/* ÁREAS */

.areas{
  padding:100px 0;
  background:#000000;
}

.section-title{
  font-family:'Cormorant Garamond', serif;
  font-size:3rem;
  margin-bottom:60px;
  font-weight:500;
}

.cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}

.card{
  position:relative;

  background:#15110d;
  border:1px solid rgba(255,255,255,0.05);

  padding:40px 30px;

  overflow:hidden;

  transition:0.4s;
}
.card::before,
.card::after{
  pointer-events:none;
}
.card a{
  position:relative;
  z-index:10;

  color:#C8A140;
}

.icon{
  font-size:42px;
  margin-bottom:25px;
   color:#C8A140;
}

.card h3{
  font-family:'Cormorant Garamond', serif;
  font-size:2rem;
  margin-bottom:20px;
  font-weight:500;
}

.card p{
  color:#d0d0d0;
  line-height:1.8;
  margin-bottom:20px;
}

.card a{
  color:#C8A140;
}
/* EFEITO FUNDO */

.card::before{
  content:'';

  position:absolute;
  top:-120px;
  left:-120px;

  width:240px;
  height:240px;


  transition:0.5s;
}

.card::after{
  content:'';

  position:absolute;
  inset:0;

  border:1px solid transparent;

  transition:0.4s;
}

/* HOVER */

.card:hover{
  transform:translateY(-12px) scale(1.02);

  border-color:rgba(183,133,88,0.45);

  box-shadow:
  0 20px 40px rgba(0,0,0,0.45),
  0 0 30px rgba(183,133,88,0.08);
}
.card:hover::after{
  inset:12px;
  border-color:rgba(183,133,88,0.18);
}
.card:hover::after{
  inset:12px;
  border-color:rgba(183,133,88,0.18);
}

/* CONTATO COMPLETO */

.contact-section{
  width:100%;
  background:#f5f5f5;
  padding:100px 0;
}

.contact-content{
  display:grid;
  grid-template-columns:1.1fr 1fr;
  gap:50px;
  align-items:flex-start;
}

/* TÍTULOS */

.contact-form h2,
.contact-info h2{
  font-size:3rem;
  margin-bottom:40px;
  color:#111;
  font-family:'Cormorant Garamond', serif;
  font-weight:600;
}

/* FORM */

.contact-form form{
  width:100%;
}

.input-group{
  margin-bottom:25px;
}

.input-group label{
  display:block;
  margin-bottom:10px;
  color:#222;
  font-size:16px;
  font-weight:600;
}

.input-group input,
.input-group textarea{
  width:100%;
  border:1px solid #ddd;
  background:#fff;
  padding:16px;
  font-size:15px;
  outline:none;
  transition:0.3s;
}

.input-group input:focus,
.input-group textarea:focus{
  border-color:#C8A140;
}

.input-group textarea{
  height:180px;
  resize:none;
}

.contact-form button{
  border:none;
  background:linear-gradient(
      90deg,
      #C8A140 0%,
      #D0C19B 50%,
      #C8A140 100%
    );
 border-radius:50px;
  color:#fff;
  padding:16px 45px;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
  box-shadow:
    0 0 15px rgba(200,161,64,0.6),
    0 0 35px rgba(200,161,64,0.4); /* efeito de luz */

  transition:0.3s ease;
}

.contact-form button:hover{
 background:linear-gradient(
      90deg,
      #C8A140 0%,
      #D0C19B 50%,
      #C8A140 100%
    );
}

/* INFO */

.contact-details{
  margin-bottom:35px;
}

.contact-details p{
  color:#222;
  font-size:17px;
  line-height:1.9;
  margin-bottom:12px;
}

/* MAPA */

.map-container{
  width:100%;
  height:420px;
  overflow:hidden;
  border-radius:6px;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
}

.map-container iframe{
  width:100%;
  height:100%;
  border:none;
}

/* RESPONSIVO */

@media(max-width:950px){

  .contact-content{
    grid-template-columns:1fr;
  }

  .map-container{
    height:420px;
  }

}

@media(max-width:480px){

  .contact-section{
    padding:70px 0;
  }

  .contact-form h2,
  .contact-info h2{
    font-size:2.4rem;
    margin-bottom:30px;
  }

  .input-group input,
  .input-group textarea{
    padding:15px;
  }

  .contact-form button{
    width:100%;
  }

  .map-container{
    height:320px;
  }

}
/* CONTATO */

.contato{
  padding:80px 0;
  background:#0c0c0c;
}

.contato-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:30px;
}

.contato h2{
  font-family:'Cormorant Garamond', serif;
  font-size:2.7rem;
  font-weight:500;
}

/* FOOTER */

footer{
  padding:40px 0;
  background:#090909;
  border-top:1px solid rgba(255,255,255,0.08);
}

.footer-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:30px;
  flex-wrap:wrap;
}

.footer-logo{
  width:220px;
}

.footer-info{
  color:#bfbfbf;
  line-height:1.8;
}

/* RESPONSIVO */

@media(max-width:1100px){

  .cards{
    grid-template-columns:repeat(2,1fr);
  }

  .hero-text h1{
    font-size:3.7rem;
  }
}

@media(max-width:850px){

  .desktop-menu{
    display:none;
  }

  .btn-header{
    display:none;
  }

  .menu-toggle{
    display:flex;
  }

  .header-content{
    height:80px;
  }

  .hero{
    min-height:900px;
    align-items:flex-start;
    padding-top:140px;
  }

  .hero-text{
    max-width:320px;
  }

  .hero-text h1{
    font-size:2.9rem;
    line-height:1.05;
    margin-bottom:25px;
  }

  .hero-text p{
    font-size:15px;
    line-height:1.8;
  }

  .sobre{
    padding:70px 0;
  }

  .sobre-content{
    display:flex;
    flex-direction:column;
    gap:40px;
  }

  .sobre-text{
    order:1;
  }

  .sobre-img{
    order:2;
    height:320px;
  }

  .sobre-text h2{
    font-size:2.5rem;
  }

  .cards{
    grid-template-columns:1fr;
  }

  .faixa-content{
    flex-direction:column;
    align-items:flex-start;
  }

  .contato-content{
    flex-direction:column;
    align-items:flex-start;
  }
}

@media(max-width:480px){

  .container{
    padding:0 20px;
  }

  .logo{
    width:170px;
  }

  .hero{
    min-height:760px;
  }

  .hero-text{
    max-width:140px;
  }

  .hero-text h1{
    font-size:2.45rem;
  }

  .hero-text p{
    font-size:10px;
  }

  .sobre-text h2{
    font-size:2.2rem;
  }

  .section-title{
    font-size:2.3rem;
  }

  .card h3{
    font-size:1.8rem;
  }

  .btn{
    width:100%;
    text-align:center;
  }
}

@media(max-width:768px){

 .hero{


    background-image:url('img/imagem\ hero\ \(1\).jpg');
    background-size:contain;
    background-repeat:no-repeat;

  
    background-position:center top;
    min-height:100vh;
    background-position:center 70px;
  }


  .hero-text{
    display:none !important;
  }

}


/*teste sec tion artigos*/
/* ARTIGOS */

/* ARTIGOS */

.artigos{
  width:100%;
  padding:110px 0;
  background:#0b0705;
}

.cards-artigos{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:35px;
}

/* CARD */

.artigo-card{
  background:#15100c;

  border:1px solid rgba(183,133,88,0.08);

  overflow:hidden;

  transition:0.45s ease;
}

.artigo-card:hover{
  transform:translateY(-12px);

  border-color:rgba(183,133,88,0.35);

  box-shadow:
  0 20px 40px rgba(0,0,0,0.35);
}

/* IMAGEM */

.artigo-img{
  width:100%;
  height:240px;

  overflow:hidden;
}

.artigo-img img{
  width:100%;
  height:100%;

  object-fit:cover;

  transition:0.5s;
}

.artigo-card:hover img{
  transform:scale(1.08);
}

/* CONTEÚDO */

.artigo-content{
  padding:35px;
}

.artigo-content span{
  color:#c89a62;

  font-size:13px;
  letter-spacing:1px;
  text-transform:uppercase;
}

.artigo-content h3{
  font-family:'Cormorant Garamond', serif;

  font-size:2rem;
  line-height:1.2;

  margin:18px 0;

  color:#fff;
}

.artigo-content p{
  color:#cfcfcf;

  line-height:1.9;

  margin-bottom:25px;
}

.artigo-content a{
  color:#c89a62;

  font-weight:600;

  transition:0.3s;
}

.artigo-content a:hover{
  letter-spacing:1px;
}

/* RESPONSIVO */

@media(max-width:1000px){

  .cards-artigos{
    grid-template-columns:1fr 1fr;
  }

}

@media(max-width:700px){

  .cards-artigos{
    grid-template-columns:1fr;
  }

}
